/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@import '../styles/filterableTable.css';

@layer components {
  .btn-secondary {
    @apply my-2 inline-flex justify-center px-2 py-3 min-w-[100px] rounded text-black font-semibold bg-white;
  }
  .link-secondary {
    @apply my-1 text-black font-light hover:text-accent-7;
  }
  .navigation {
    @apply my-1 mr-6 text-black font-semibold border-b-2 border-white hover:border-black flex items-center;
  }
  .navigation-second-level {
    @apply px-2 py-1 text-black font-semibold flex items-center;
  }
  .bannerGridCol {
    @apply md:pr-2 md:pl-2 w-full;
  }
}
.pb-1\/1 {
  padding-bottom: 100%;
}
.pb-2\/3 {
  padding-bottom: 66.666667%;
}
.pb-1\/5 {
  padding-bottom: 26%;
}
.pb-4\/5 {
  padding-bottom: 55%;
}
